<!-- Title and add button -->
<md-grid-list cols="7" rowHeight="150px" dir="rtl">

  <md-grid-tile colspan="2">
    <h1 class="title">רשימת שירים</h1>
  </md-grid-tile>

  <md-grid-tile colspan="4">
  </md-grid-tile>

  <md-grid-tile colspan="1">
    <input [hidden]="true" id="input-file-id" multiple type="file" accept=".mp3" #fileUploadInput/>
    <button md-raised-button color="primary"  for="input-file-id" (click)="clickUpload()">
    הוסף
    </button>
  </md-grid-tile>

</md-grid-list>

<h2 dir="rtl" *ngIf="!(songs?.length)">לא קיימים שירים ברשימה, על מנת להוסיף לחץ על 'הוסף'</h2>


<!-- Table content -->
<form #songsForm="ngForm">

  <!-- Row -->
  <md-grid-list cols="9" rowHeight="100px" dir="rtl" *ngFor="let song of songs; let i=index;">
    <md-grid-tile colspan="3">
      {{song.name}}
    </md-grid-tile>
    <md-grid-tile colspan="1">
    </md-grid-tile>
    <md-grid-tile colspan="1">
      <md-input-container style="width: 100%;">
        <input type="number" md-input placeholder="עדיפות"
               [(ngModel)]="song.priority" name="priority-{{i}}" #priority="ngModel"
               required>
        <md-hint *ngIf="!priority.valid && !priority.pristine" [ngStyle]="{'color': 'red'}" align="start">ערך חובה</md-hint>
      </md-input-container>
    </md-grid-tile>
    <md-grid-tile colspan="1">
    </md-grid-tile>
    <md-grid-tile colspan="1">
      <md-icon (click)="removeFreq(i)" class="removeIcon">cancel</md-icon>
    </md-grid-tile>
    <md-grid-tile colspan="2">
    </md-grid-tile>
  </md-grid-list>

  <!-- Save -->
  <md-grid-list cols="7" rowHeight="250px" dir="rtl">

    <md-grid-tile colspan="6">
    </md-grid-tile>

    <md-grid-tile colspan="1">
      <button type="button" md-raised-button color="accent" (click)="saveAndNavigate()" [disabled]="!songsForm.form.valid">
        שמור
      </button>
    </md-grid-tile>

  </md-grid-list>


</form>

